# Project - 1 (Personal Data Collector)

print("Welcome to the Interactive Personal Data Collector !")
print()
name=input("Please enter your name : ")
age=int(input("PLease enter your age : "))
height=float(input("Please enter your height in meters : "))
fav_num=int(input("PLease enter your favourite number : "))
print()
print("Thank You ! Here is the information we collected :")
print()
print(f"Name : {name} (Type :{type(name)}) (Memory Address : {id(name)})")
print(f"Age : {age} (Type :{type(age)}) (Memory Address : {id(age)})")
print(f"Height : {height} (Type :{type(height)}) (Memory Address : {id(height)})")
print(f"Favourite Number : {fav_num} (Type :{type(fav_num)}) (Memory Address : {id(fav_num)})")
current_year=2026
birth_year=current_year-age
print()
print(f"Your birth year is approximately : {birth_year} (based on your age of {age})")
print()
print("Thank You for using the Personal Data Collector . Goodbye !")

